*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}


:root{
    --radius: 19px;
    --color: rgb(117, 116, 115);
    --colorb: rgb(102, 102, 102);
    --colorc: rgb(177, 177, 177);
    --black: #151515;
}
body
{
    background-color: #120e23;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyPart
{
    /* transform: rotate(45deg) skew(20deg) scale(0.7); */
    position: relative;
    background-color: rgb(228, 18, 18);
    width: 300px;
    height: 650px;
    border-radius: 30px;
    border: 10px solid var(--color);
    display: flex;
    justify-content: center;
    overflow-block: hidden;
}

.bodyPart .buttons
{
    position: absolute;
    width: 10px;
    left: -13px;
    height: 220px;
    /* background-color: red; */
    top: 10%;
    display: flex;
}
.bodyPart .buttons .volume
{
    position: relative;
    width: 10px;
    height: 50px;
    background-color: var(--color);
    border-radius: 60px 0 0 60px;
    margin-bottom: 40px;
}
.bodyPart .buttons .volume::before
{
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    top: 70px;
    background-color: var(--color);
    border-radius: 60px 0 0 60px;
    margin-bottom: 40px;
}
.bodyPart .buttons .power
{
    position: absolute;
    background-color: var(--color);
    width: 10px;
    height: 50px;
    bottom: 0;
    border-radius: 60px 0 0 60px;
}
.bodyPart > .camera
{
    position: absolute;
    width: 40px;
    height: 25px;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    top: 0px;
    border-radius: 0 0 40px 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyPart > .camera::before
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    left: -24px;
    top: -1px;
    box-shadow: 10px -12px 0 var(--color);
}
.bodyPart > .camera::after
{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    right: -24px;
    top: -1px;
    box-shadow: -10px -13px 0 var(--color);
}

.bodyPart > .camera .camBody
{
    position: absolute;
    background-color: rgb(198, 96, 96);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    bottom: 30%;
    border: 5px solid var(--colorb);
}

.bodyPart > .cover
{
    background-image: url(img/bg1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--colorb);
    border: 5px solid #222;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    animation: backg 20s infinite;
}
@keyframes backg{
    0%{
        background-image: url(img/bg1.png);
    }
    40%{
        background-image: url(img/bg1.png);
    }50%{
        background-image: url(img/bg2.png);
    }90%{
        background-image: url(img/bg2.png);
    }
}

.cover > .bottomMenus
{
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cover > .bottomMenus .recent
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover > .bottomMenus .recent
{
    position: relative;
    width: 50px;
    height: 30px;
    transform: scale(0.7);
}
.cover > .bottomMenus .recent span
{
    margin: 0 3px;
    height: 70%;
    width: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.cover > .bottomMenus .home
{
    position: relative;
    transform: scale(0.7);
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover > .bottomMenus .home::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid #fff;
}
.cover > .bottomMenus .back
{
    position: relative;
    margin: 20px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg) scale(0.7);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.topBar
{
    position: absolute;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topBar .column
{
    width: 50px;
    height: 100%;
    color: rgb(173, 173, 173);
    font-size: 12px;
    padding: 3px 20px;

}

.middle{
    position: absolute;
    bottom: 30px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle .tt{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle .tt span{
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.14);
    margin: 2px;
    border-radius: 2px;
    border: 1px solid #ffffff86;
    transition: 0.2s;

}
.middle:hover .tt span:first-child{
    border: 1px solid #207392bb;
    transform: scale(1.2);
    margin: 5px;
    width: 20px;
    height: 20px;

}